@{
    ViewData["Title"] = "Professor";

}
    
<br>
<br />
<br>
<br />
<center>
    <h1>Seja Bem vindo Professor</h1>
    <a href="https://localhost:44312/Professor/Index" class="btn btn-success">Cadastrar Professor</a>
    <br /><br />
    <img src="~/Academyimagens/bemvindoProfessor.png" alt="some text" width=400 height=500>

    <h4>Escolha uma das opções abaixo para continuar</h4>
    <a href="https://localhost:44312/Aluno/GerenciamentoAluno" type="button" class="btn btn-success btn-lg btn-block" width=200 height=200 style="background-color:#2e7d32">Gerenciamento Aluno</a>
    <a href="https://localhost:44312/Aula/Index" type="button" class="btn btn-success btn-lg btn-block" width=200 height=200 style="background-color:#2e7d32">Gerenciamento Aula</a>
    <a href="https://localhost:44312/Exercicio/CadastrarLista" type="button" class="btn btn-success btn-lg btn-block" width=200 height=200 style="background-color:#2e7d32">Cadastrar Treinos</a>
    <a href="https://localhost:44312/Avisos" type="button" class="btn btn-success btn-lg btn-block" width=200 height=200 style="background-color:#2e7d32">Gerenciamento Avisos</a>
</center> 